<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sylwiki 06</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <div id="head">
        <h1>Sylwiki 06</h1>
        <div id="action_box">
            <!-- If user logged -->
            <table>
                <tr>
                  {% if user %}
                      <!-- Display edit if possible -->
                      {% if page %}
                        <td><a href="/_edit{{page.key().name()}}">Edit</a></td>
                      {% endif %}
                      <!-- Display user name -->
                      <td id="username">{{user.name}}</td>
                      <!-- Display logout -->
                      <td><a href="/logout">Log out</a></td>
                  {% else %}
                      <!-- Display register and login -->
                      <td><a href="/signup">Register</a></td>
                      <td><a href="/login">Log in</a></td>
                  {% endif %}
              </tr>
          </table>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="foot">
    </div>
</body>
</html>
