{% extends "base.html" %}
{% block content %}
    <form method="post" action="/login">
        <h2>Login</h2>
        <label>
            User name:
            <input type="text" name="username" value="{{username}}">
            <span class="error">{{error_username}}</span>
        </label>
        <br>
        <label>
            Password:
            <input type="password" name="password">
            <span class="error">{{error_pwd}}</span>
        </label>
        <br>
        <br>
        <label>
            <input type="submit" value="Login">
        </label>
    </form>
{% endblock %}
