{% extends "base.html" %}
{% block content %}
    <form method="post" action="/blog/login">
        <h2>Login</h2>
        <label>
            User name:
            <input type="text" name="username" value="{{username}}">
            <span name="errorUsername">{{error_username}}</span>
        </label>
        <br>
        <label>
            Password:
            <input type="password" name="password">
            <span name="errorPassword">{{error_pwd}}</span>
        </label>
        <br>
        <br>
        <label>
            <input type="submit" value="Login">
        </label>
    </form>
{% endblock %}