body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.error
{
    color: red;
}

#action_box
{
    position: absolute;
    right: 10px;
    top: 10px;
}

#username
{
    color: green;
}
